main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background-image: url(./assets/coffee1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

a:hover {
  text-decoration: none;
}

.button {
  font-size: 3rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  left: 45%;
  color: #595857;
  background-color: #D9D9D9;
}

/* Nav */
.navbar-item img.logo  {
  max-height: 100%;
}

.cart-icon{
  font-size: 25px;
  float: right;
  margin-right: 10px;
  margin-top: 25px;
  color: red;
  cursor: pointer;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
}
.cart-icon:hover{
  transform: scale(1.1,1.1);
  color: white;
}
.nav-link {
  float: right;
  display: flex;
  margin-top: 20px;
  padding: .5em;
  margin-right: 1em;
  text-align: center;
  text-decoration: none;
  bottom: 18px;

  /* style button as link */
  background: none;
  cursor: pointer;
  font-size: inherit;
  color: white;
}

.nav-link:hover {
  color: red;
  text-decoration: none;
}

.nav-link:active {
  background-color: none;
  color: red;
}

.active,
.active:hover,
.active:active {
  color: black;
  background-color: none;
  cursor: default;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

.title {
  font-size: 2rem;
  color: #F2F2F2;
  text-shadow: 1px 1px #0D0D0D;
  text-align: center;
}
h1 {
  font-size: 2.25rem;
  text-shadow: 1px 1px #A6A5A4;
}

h2 {
  font-size: 2rem;
  color: #0D0D0D;
  text-shadow: 1px 1px #A6A5A4;
  text-align: center;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.columns {
  column-gap: 1rem;
}
.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}


.card {
  width: 25%;
  text-align: center;
  background-color: #D9D9D9;
}

.error-text {
  color: var(--error);
}


@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
