.welcome-container {
  padding: 2em;
  margin: 0 auto;
  background-color: #fcfcfc;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
}

.login-form,
.signup-p,
.signup-form 
{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 20px;
  padding: 2em;
  border-radius: 10px;
}